<meta charset="utf-8" />
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
<meta content="Themesdesign" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="<%= baseUrl; %>/admin/assets/images/favicon.png">

<!-- jvectormap -->
<link href="<%= baseUrl; %>/admin/assets/libs/jqvmap/jqvmap.min.css" rel="stylesheet" />

<!-- Bootstrap Css -->
<link href="<%= baseUrl; %>/admin/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="<%= baseUrl; %>/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="<%= baseUrl; %>/admin/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />