<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('adminHead'); -%>
    </head>

    <body data-sidebar="dark">
        <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">
            <%- include('adminHeader'); -%>
            <!-- ========== Left Sidebar Start ========== -->
            <%- include('adminLeftSidebar'); -%>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Add New Category</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item">
                                                <a href="javascript: void(0);">Dashboard</a>
                                            </li>
                                            <li class="breadcrumb-item active">Add New Category</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <% if(errors){ errors.forEach(function(error){ %>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                    <strong><%= error.msg %></strong>
                                </div>
                                <% }); }; %>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <form class="card-body" action="/dashboard/category-add" method="post">
                                        <div class="mb-3 row">
                                            <label for="name" class="col-md-2 col-form-label">Title</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="text" value="" name="title">
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-md-2 col-form-label">Parent Category</label>
                                            <div class="col-md-10">
                                                <select class="form-select" name="parent_cat">
                                                    <option value="">Selecte Parent Category</option>
                                                    <% if(categoryList){ categoryList.forEach(function(cat){ %>
                                                    <option value="<%= cat._id %>"><%= cat.title %></option>
                                                    <% });  }; %>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="username" class="col-md-2 col-form-label">SEO
                                                Description</label>
                                            <div class="col-md-10">
                                                <textarea id="seo_description" name="seo_description"
                                                    class="form-control" maxlength="225" rows="3"
                                                    placeholder="This seo description has a limit of 130 chars."
                                                    spellcheck="false"></textarea>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label for="email" class="col-md-2 col-form-label">SEO Keywords</label>
                                            <div class="col-md-10">
                                                <textarea id="seo_keywords" name="seo_keywords" class="form-control"
                                                    maxlength="225" rows="3"
                                                    placeholder="This seo keywords has a limit of 150 chars."
                                                    spellcheck="false"></textarea>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-primary mt-2">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <!-- footer -->
                <%- include('adminFooter'); -%>
                <!-- footer -->
            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="<%= baseUrl %>/admin/assets/libs/jquery/jquery.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/node-waves/waves.min.js"></script>

        <!-- apexcharts js -->
        <script src="<%= baseUrl %>/admin/assets/libs/apexcharts/apexcharts.min.js"></script>

        <!-- jquery.vectormap map -->
        <script src="<%= baseUrl %>/admin/assets/libs/jqvmap/jquery.vmap.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/jqvmap/maps/jquery.vmap.usa.js"></script>

        <script src="<%= baseUrl %>/admin/assets/js/pages/dashboard.init.js"></script>

        <script src="<%= baseUrl %>/admin/assets/js/app.js"></script>


        <!-- Required datatable js -->
        <script src="<%= baseUrl %>/admin/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="<%= baseUrl %>/admin/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/jszip/jszip.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/pdfmake/build/vfs_fonts.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="<%= baseUrl %>/admin/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script
            src="<%= baseUrl %>/admin/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script
            src="<%= baseUrl %>/admin/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

        <!-- Datatable init js -->
        <script src="<%= baseUrl %>/admin/assets/js/pages/datatables.init.js"></script>
    </body>

</html>